.quantifier {
  color: red;
  /* text-shadow: 0px 0px 7px #ff000070; */
}

.linking-verb {
  color: lime;
  /* text-shadow: 0px 0px 7px #00ff0070; */
}

.implication {
  color: magenta;
  /* text-shadow: 0px 0px 7px #ff00ff70; */
}

.brackets {
  color: #444;
}

.junction {
  color: aqua;
  /* text-shadow: 0px 0px 7px #00ffff70; */
}

.comment {
  color: #696969; /* #5f5f5f */
}