html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

canvas {
  display: block;
}

#editor-container {
  display: flex;
  flex: 1;
  width: auto;
  height: 100%;
  overflow: hidden;
}

#line-numbers-container {
  height: calc(100% - 1px);
  width: 65px;
  color: #999;
  border: solid 1px #333;
  border-top: none;
  border-collapse: collapse;
  background-color: #151515;
  overflow: hidden;
  z-index: 1;
}

#line-numbers {
  margin: 0px;
  padding: 2px 6px;
  width: 50px;
  text-align: right;
  overflow-x: scroll;
}

#line-numbers div {
  margin: 0px 0px;
  padding: 0;
  font-size: 24px;
  font-family: monospace;
}

#textarea-container {
  position: relative;
  display: flex;
  flex: 1;
  width: auto;
  height: 100%; /* Same height as individual textareas */
}

#syntax, #editor {
  position: absolute;
  display: block;
  margin: 0px;
  padding: 2px 8px;
  border: none;
  outline: none;
  top: 0;
  left: 0;
  width: 100%; /* Fill container width */
  height: 100%; /* Fill container height */
  font-size: 24px;
  font-family: monospace;
  resize: none;
  white-space: pre;
  overflow-wrap: normal;
  box-sizing: border-box; /* Include padding and border in width and height */
}

#syntax:focus, #editor:focus {
  outline: none;
}

#syntax {
  background: #111;
  color: white;
  user-select: none;
  overflow: scroll;
  box-shadow: inset 0px 0px 10px #000a;
}

#syntax::-webkit-scrollbar,
#syntax::-webkit-scrollbar-corner,
#syntax::-webkit-scrollbar-thumb,
#syntax::-webkit-scrollbar-track,
#editor::-webkit-scrollbar,
#line-numbers-container::-webkit-scrollbar,
#line-numbers-container::-webkit-scrollbar-corner,
#line-numbers-container::-webkit-scrollbar-thumb,
#line-numbers-container::-webkit-scrollbar-track {
  visibility: hidden;
}

#editor {
  background: transparent;
  color: transparent;
  border-color: transparent;
  caret-color: white;
  overflow: scroll;
}

button {
  display: block;
  width: auto;
  height: auto;
  margin: 0px 0px;
  padding: 8px 14px;
  border-radius: 0px;
  border: solid 1px #444;
  font-size: 16px;
  color: white;
  background: #090909;
  cursor: pointer;
  /* text-shadow: 0px 0px 10px #fff6; */
}

button:hover {
  background: #111;
}

button:active {
  background: #191919;
  /* border-color: lime; */
  /* color: lime; */
  /* background: #010; */
}

#toolbar {
  display: flex;
  gap: 12px;
  padding: 8px;
  background-color: #151515;
  border: solid 1px #333;
}






















